h1 illumos Fault Management Architecture (FMA) Message Registry
p
  | Welcome to the illumos Fault Management Architecture (FMA) Message Registry.
  | You're probably here because your operating system has displayed a message
  | with a URL like
  a(href="https://www.illumos.org/msg/ZFS-8000-8A") https://www.illumos.org/msg/ZFS-8000-8A
  |  and you want more detail about the condition or fault.
p
  | If you enter a message code (e.g. SUNOS-8000-8W) in the form below, you will be
  | redirected to a more detailed explanation.
p
  form(action="/msg",method="POST")
    label(for="messageid") Message ID:
      input(type="text",name="messageid")
    input(type="submit",name="Load")
